<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /vmm/public/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /vmm/public/index.php [L]
</IfModule>